/*  HTML5 Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
.fl{float:left}
.fr{float:right;}
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

::-moz-selection{ background:#8bbd0c; color:#fff; text-shadow: none; }
::selection { background:#8bbd0c; color:#fff; text-shadow: none; }

body{font:12px Helvetica,Arial,sans-serif;background:#fff;}

nav ul li{float:left;}

a{text-decoration:none;}
a:hover{color: #777;}

.big{font-size:18px;}

h1{
	font-size:25px;
	padding:10px 2px;
}

h2{
	color:#8bbd0c;
	font-size:18px;
	margin-bottom:15px;
}

.transition{
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s;
	     -o-transition:all 0.3s;
	        transition:all 0.3s;
}

.btn{
	background-image: linear-gradient(bottom, #9bbb02 34%,#cbf00d 84%);
	background-image: -o-linear-gradient(bottom, #9bbb02 34%,#cbf00d 84%);
	background-image: -moz-linear-gradient(bottom, #9bbb02 34%,#cbf00d 84%);
	background-image: -webkit-linear-gradient(bottom, #9bbb02 34%,#cbf00d 84%);
	background-image: -ms-linear-gradient(bottom, #9bbb02 34%,#cbf00d 84%);
	color:#fff;
	border:none;
	border-radius: 10px;
	padding:5px 10px;
	text-shadow: 0px 0px 4px #777;
	filter: dropshadow(color=#777, offx=0, offy=0);
}

.big.btn{padding:10px 30px;}

.btn:hover{
	-webkit-box-shadow:0px 0px 20px #9bbb02;
	   -moz-box-shadow:0px 0px 20px #9bbb02;
		    box-shadow:0px 0px 20px #9bbb02;
}

input[type=text], textarea{
	border:1px solid #b8b6b7;
	border-radius: 3px;
	outline: none;
	padding:3px;
}

.lightbox-inner{padding:15px;}

/* ----- */

.wrapper{
	margin:auto;
	width:960px;
	position:relative;
}

#header-container{
	color:#fff;
	background-image: linear-gradient(bottom, #09a5d5 34%,#0f8bb1 84%);
	background-image: -o-linear-gradient(bottom, #09a5d5 34%,#0f8bb1 84%);
	background-image: -moz-linear-gradient(bottom, #09a5d5 34%,#0f8bb1 84%);
	background-image: -webkit-linear-gradient(bottom, #09a5d5 34%,#0f8bb1 84%);
	background-image: -ms-linear-gradient(bottom, #09a5d5 34%,#0f8bb1 84%);
}

#header-container a{
	color:#eee;
	letter-spacing: 1px;
}

#header-container a:hover{color:#fff;}

#upper-menu{
	position:absolute;
	top:0px;
	right:0px;
}

#upper-menu li{
	margin:17px 20px 0 0;
	font-weight: bold;
}

#upper-menu li a:hover{text-shadow: 0px 0px 13px rgba(255, 255, 255, 1);}

#upper-menu li #car-finded{color:#d7f347;font-size: 13px;}
#upper-menu li #car-finded:hover{color:#fff;}

#button-bar{
	background: #08718f;
	color:#fff;
	padding:15px 0;
}

#button-bar .highlight{
	color: #d7fe0f;
}

#button-bar .btn{
	position:relative;
	right:-160px;
}

#content{
	padding:10px;
	min-height: 500px;
}

#occurences-map .description{
	font-size:14px;
	font-weight: bold;
	margin-bottom:10px;
}

#occurences-map .description .highlight{color:#f00;}

#search-addr-field{
	width:250px;
	height:25px;
}

#main-map{
	border:2px solid #ccc;
	border-radius:10px;
	margin-top:15px;
	width:955px;
	height:500px;
}

.map-legend{
	border:1px solid #ccc;
	border-radius: 4px;
	padding:3px 20px 3px 3px;
}

.map-legend img{
	margin:0px 0px -3px 20px;
}

.map-legend img.first{
	margin-left:0px;
}

#main-map .loading{
	color: #aaa;
	font-size:40px;
	display: block;
	text-align: center;
	margin-top:220px;
}

#footer-container{
	background:#08718f;
	color:#fff;
	padding:10px 0;
}

#feedback{
	display:block;
	position:fixed;
	width:20px;
	height:100px;
	left:0px;
	top:200px;
	background:#444;
	color:#fff;
}

/* ---------- */

form fieldset{
	border:1px solid #bbb;
	border-radius:5px;
	padding:5px;
	text-align: left;
	margin-bottom:20px;
}


form fieldset legend{
	color:#777;
	font-weight: bold;
}

form div{
	margin-bottom: 5px;
}

form label{
	display:block;
	width:70px;
	text-align:right;
	padding-right: 10px;
}

form input[type=text], form textarea, form label{float:left;}

form input, form textarea{width:180px;margin-right:20px;}

form input.large{width:325px;}

form input.medium{width:110px;}

form.unrequired label, 
form.unrequired input[type=text], 
form.unrequired textarea{
	opacity: 0.7;
}

form .field-tip{
	font-style: italic;
	margin-left:-10px;
}

form .error{
	border:1px solid #f00;
}

form .required{opacity: 1!important;}
form label.required{font-weight: bold;}

form input.license-plate{text-transform: uppercase;}

/* ---------- */

fieldset.toggle-set legend{cursor:pointer;}

fieldset.closed{
	overflow: hidden;
	height:10px;
}

fieldset.closed input, 
fieldset.closed label, 
fieldset.closed textarea,
fieldset.closed span{display:none;}

/* ---------- */

.add-occurrence{text-align: center;}

#lightbox-map{
	width:300px;
	height:300px;
	border:2px solid #ccc;
	border-radius:3px;
	margin-right: 15px;
}

#add-corcurrence-form-container{width:450px;}