<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	{% block head %}<title>Furtaram meu carro - Veja onde há mais furtos de carro.</title>{% endblock %}
	<meta name="description" content="Saiba onde ocorre mais roubos de carros, onde é perigoso estacionar, como prevenir roubos, informe o roubo ou furto do seu carro e ajude outras pessoas!s">

	<meta name="keywords" content="roubo de carros, furto de carros, denuncia, onde estacionar, prevenção de roubos">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lte IE 8]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="icon" type="image/ico" href="https://furtaram.s3-sa-east-1.amazonaws.com/img/favicon.ico"/>
	<link rel="shortcut icon" href="https://furtaram.s3-sa-east-1.amazonaws.com/img/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<link rel="stylesheet" href="/s/css/common.css">
	<link rel="stylesheet" href="/s/css/lightbox.css">
	<link rel="stylesheet" href="/s/css/message.css">

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33981329-1']);
	  _gaq.push(['_trackPageview']);
	  _gaq.push(['_trackPageLoadTime']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>

<div id="header-container">
	<header class="wrapper">
		<h1><a href="/" id="header-logo"  data-tracking="Topo,Logo">Furtaram meu carro!</a></h1>

		<nav id="upper-menu">
			<ul>
				<li><a href="/como-prevenir-roubos" data-tracking="Menu,Superior,ComoPrevenir">Como prevenir</a></li>
				<li><a href="/estatisticas-de-roubos" data-tracking="Menu,Superior,Estatisticas">Estatísticas</a></li>
				<!--li><a href="#carro-encontrado" id="car-finded" data-tracking="Menu,Superior,CarroEncontrado">Meu carro foi encontrado!</a></li-->
				<li><a href="/sobre-o-site" data-tracking="Menu,Superior,Sobre">Sobre</a></li>
			</ul>
		</nav>

		<!--div class="button_twitter fr">
			<a href="https://twitter.com/share" class="twitter-share-button twitter" data-count="none" data-via="furtaramcarro">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		</div-->
	</header>
</div>

{% block after-header %}{% endblock %}

<div id="main">
	<section id="content" class="wrapper clearfix">
		{% block content %}
			conteudo principal
		{% endblock %}
	</section>
</div>

<div id="footer-container">
	<footer class="wrapper">
		<div class="clearfix">
			<ul class="fl">
				<li><a href="/sobre-o-site" data-tracking="Menu,Footer,Sobre">Sobre o site</a></li>
				<li><a href="/como-prevenir-roubos" data-tracking="Menu,Footer,ComoPrevenir">Como prevenir roubos</a></li>
				<li><a href="/estatisticas-de-roubos" data-tracking="Menu,Footer,Estatisticas">Estatísticas de roubos</a></li>
			</ul>

			<ul class="fl">
				<li><a href="mailto:contato@furtarammeucarro.com.br" data-tracking="Menu,Footer,Contato">Contato</a></li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Copyright Furtaram meu carro 2012
		</div>
	</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!--[if lt IE 7 ]>
<script src="/static/js/libs/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->

<script src="/s/js/libs.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWjiH1KKNCen3MVROgaLJGnIni2utppAU&amp;sensor=false&amp;libraries=places"></script>

<script src="/s/js/main.js"></script>

{% block js %}{% endblock %}

</body>
</html>