<div class="lightbox-inner add-occurrence">
	<h2>Adicionar roubo ao mapa</h2>
	
	<div class="fl">
		<div id="lightbox-map">
			aguarde...
		</div>
		<span>Você pode arrastar o marcador para o local desejado</span>
	</div>

	<div class="fl" id="add-corcurrence-form-container">
		<form method="post" action="/add-occurrence-post" class="ajax" id="add-occurrence-form">
			{% csrf_token %}
			<fieldset>
				<legend>Dados do roubo</legend>

				<div class="clearfix">
					<label class="required">*Endereço completo:</label>
					<input type="text" name="address" class="required large" maxlength="400" placeholder="Digite ou clique no mapa ao lado" id="address-field" autocomplete="off" />

					<input type="hidden" name="latitude" id="lat" />
					<input type="hidden" name="longitude" id="lng" />
				</div>

				<label>Data:</label>
				<input type="text" name="theft_date" class="medium" data-mask="99/99/9999" /> <span class="field-tip">(dd/mm/aaaa)</span>
			</fieldset>

			<fieldset class="toggle-set closed">
				<legend data-tracking="Fieldset,Expandir,Contato">[+] Informações para contato (opcional)</legend>
				<div class="clearfix">
					<label>Email:</label>
					<input type="text" name="email" /> <span class="field-tip">usuario@dominio</span>
				</div>

				<div class="clearfix">
					<label>Telefone:</label>
					<input type="text" name="phone" data-mask="(99) 9999-9999?9" /> <span class="field-tip">(11) 5555-5555</span>
				</div>

			</fieldset>
			<fieldset class="toggle-set closed">
				<legend data-tracking="Fieldset,Expandir,DadosVeiculo">[+] Dados do veículo (opcional)</legend>
				
				<div class="clearfix">
					<label>Carro:</label>
					<input type="text" name="model" class="medium" />

					<label>Placa:</label>
					<input type="text" name="license_plate" data-mask="aaa-9999" maxlength="8" class="medium license-plate" />
				</div>

				<div class="clearfix">
					<label>Cor:</label>
					<input type="text" name="color" maxlength="20" />

					
				</div>

				<div class="clearfix">
					<label>Outros:</label>
					<textarea></textarea>
				</div>
			</fieldset>

			<input type="submit" class="btn big transition" value="Salvar" data-tracking="Botao,SalvarOcorrencia" />
		</form>
	</div>		
</div>