{% extends "includes/wrapper.html" %}

{% block head %}<title>Furtaram meu carro - Como prevenir roubos</title>{% endblock %}

{% block content %}
	<h2>Como prevenir roubos</h2>

	<p>Infelizmente hoje em dia vivemos com medo da criminalidade, o roubo de carros no Brasil se tornaram cada vez mais comuns. Não podemos contar nem com a luz do dia mais, pois os criminosos não se preocupam se estão sendo observados. Em algumas cidades, como capitais, parar no sinal vermelho é praticamente pedir para ser assaltado.</p>

	<p>Pensando nisso, nós do <strong>FurtaramMeuCarro</strong> resolvemos juntar algumas dicas que podem ajudar o cidadão a se prevenir e proteger seu veículo.</p>

	<ul>
		<li>Por mais que a parada seja por poucos segundos, jamais deixe o carro ligado, desligue e feche o veículo, espere do lado de fora do carro</li>
		<li>Quando for estacionar, procure um lugar iluminado, de preferência onde tenha um movimento grande de pessoas. Ah, não esqueça objetos de valor dentro do veículo;</li>
		<li>Sei que é confortável e cômodo deixar os documentos dentro do porta-luvas, mas ao sair do carro, leve-o com você;</li>
		<li>Confie nos seus instintos, está pressentindo algo errado, não pare, vá embora;</li>
		<li>Pare em uma área perto da entrada de prédios ou em volta de outros veículos;</li>
		<li>Evite estacionar perto de área que diminua sua visibilidade;</li>
		<li>Andar com vidros abertos é gostoso, eu sei, mas te aconselho a manter tanto as portas quanto as janelas fechadas;</li>
		<li>Semáforo fechou?, diminua a velocidade, isso evita que você fique muito tempo com o carro parado. Se caso parar, deixe espaço suficiente entre você e o carro da frente, isso facilitará uma manobra evasiva.</li>
		<li>Atenção redobrada pela manhã, geralmente ficamos mais descuidados com as coisas;</li>
		<li>Não deixa nada dentro do veículo visível. Na mente doentia do criminoso, vai sempre achar que tem dinheiro, jóias;</li>
		<li>Carros equipados de mais é um prato cheio, além de vender o carro, eles ainda vendem os acessórios;</li>
		<li>Não exiba seu currículo no carro, como: adesivo de faculdade, condomínio, academia que frequenta, e etc. Um ladrão ou praticante de extorsão deduz esses sinais a vida da pessoa e os usa para fazer ameaças;</li>
		<li>O criminoso escolhe a vitima pelo lado comportamento, fique atento!;</li>
		<li>Tenha alguns dispositivos de segurança, como alarmes, travas e rastreadores, mas de preferência, tenha seguro. Mesmo com a desvalorização do valor do seu carro, é melhor receber uma boa quantia, calculada pela tabela FIPE, do que receber um carro, talvez, todo destruído.</li>
	</ul>
	<p>Essas medidas, não vão garantir que seu veículo possa ser furtado, porém se segui-las, podem ajudar e muito. E a última dica: Em casos de furto ou roubo não tente procurar o veículo. É perigoso! O procedimento mais adequado é acionar a Polícia Militar em seguida ir até a Delegacia de Furtos e Roubos de Veículos para registrar a ocorrência e se for o caso acionar o seguro do automóvel.</p>
{% endblock %}