{% extends "includes/wrapper.html" %}

{% block head %}<title>Furtaram meu carro - Como prevenir roubos</title>{% endblock %}

{% block content %}
	<h2>Como prevenir roubos</h2>

	<p>Hoje em dia está cada vez mais dificil parar nossos carros em segurança em qualquer via pública, os roubos de carros se tornaram um dos crimes mais presentes nas grandes capitais brasileiras.</p>

	<p>Com isso juntamos algumas dicas com cuidados básicos para ajudar a proteger nossos veículos:</p>

	<h3>Aproximando-se do seu veículo:</h3>

	<ul>
		<li>Quando você está indo em direção ao seu carro, a atenção é sua melhor arma.</li>

		<li>Esteja Alerta: Mantenha-se alerta sobre o que está acontecendo ao seu redor.</li>

		<li>Deixe as suas chaves prontas quando estiver indo até o carro (não perca tempo procurando por elas dentro da mochila ou bolsa ao lado do carro)</li>

		<li>Olhe em volta do carro antes de entrar</li>

		<li>Cuidado por pessoas que estão por perto, pedindo direções, pedindo dinheiro ou entregando propagandas.</li>

		<li>Confie nos seus instintos: Se algo parece estar errado, volte para o lugar onde você estava ou entre no carro rapidamente e trave as portas.</li>
	</ul>

	<h3>Enquanto você dirige:</h3>

	<ul>
		<li>
		A sua melhor linha de defesa enquanto está dirigindo é dificultar o acesso de criminosos para dentro de seu carro.</li>

		<li>Mantenha suas portas e janelas fechadas (não se esqueça do teto solar se você tiver um).</li>

		<li>Quando se aproximando de uma parada (semáforo ou cruzamento), deixe espaço suficiente entre você e o carro da frente para que você possa fazer uma manobra evasiva se o perigo surgir.</li>

		<li>Dirigir na faixa do meio da rua pode tornar mais difícil para os criminosos te encurralarem e pode te dar uma maior chance de escapar.</li>

		Quando chegando ao seu destino:

		<li>Pare em uma área perto da entrada de prédios ou em volta de outros veículos.</li>

		<li>Evite estacionar perto de áreas muito arborizadas, caminhões, vans ou qualquer coisa que diminua sua visibilidade.</li>

		<li>Ao trancar o carro, não deixe itens aparentemente valiosos à plena vista para qualquer um ver.</li>

		<li>Olhe em volta antes de sair do seu veículo. Também pode ser uma boa idéia dar uma volta pelo estacionamento para checar a situação antes de estacionar.</li>
	</ul>

	<h3>Se alguém tenta roubar seu carro:</h3>

	<ul>
		<li>Nunca entre no carro com o criminoso, é melhor perder seu carro do que sua vida.</li>
		<li>Se eles têm uma arma? Corra. Estatísticas mostram que se você correr você tem cerca de 90% de chances de manter-se seguro. Se você entrar no veículo, provavelmente tem 100% de chances de algo ruim acontecer.</li>

		<li>Se você for forçado a dirigir, uma opção seria considerar bater o carro perto de um cruzamento agitado e esperar que o assaltante voe pela janela. Então saia do carro e corra como nunca correu antes.</li>
	</ul>

	<h3>Formas de roubo que estão sendo aplicadas atualmente:</h3>

	<p>Além da maneira de abordagem direta com arma em punho existem técnicas que estão cada vez mais aprimoradas para atrair a vítima para o carro. Os golpes mais aprimorados (que eu pude achar em relatos pela internet) são efetuados da seguinte forma:</p>

	<p>Você está em uma festa com seus amigos, quando em determinado momento um rapaz o aborda e pede para que você manobre seu carro pois o dele está preso e ele precisa sair. Você cordialmente, vai até seu carro para ajudá-lo e quando menos espera é rendido pelo rapaz, que leva seus documentos, carro e tudo o que estiver com você.</p>

	<p>Você entra no seu carro, e quando vai manobrá-lo percebe que no vidro traseiro há um papel colado impedindo sua visão, bravo com tal brincadeira de mal gosto você desce do carro para retirá-lo e é rendido pelos assaltantes que estavam à espreita.</p>

	<p>No mercado, um segurança (com uniforme apropriado) aproxima-se de você e afirma que seu carro está aberto e você deve acompanhá-lo para trancar o veículo. Ao abrir seu carro o rapaz anuncia o assalto.</p>

	<p>Essas são as maneiras que estão "em alta" nas grandes cidades, porém temos de ter em mente que os golpes estão cada vez mais elaborados e se não estivermos atentos seremos vítimas fáceis para tais indivíduos subversivos. Tente seguir à risca as dicas apresentadas acima e você pode evitar que tais situações ocorram com você.</p>

	<p>Fonte: <a href="http://offgridsurvival.com/?utmsrouce=furtarammeucarro" data-tracking="ComoPrevenir,Fonte" target="_blank">http://offgridsurvival.com/</a></p>

{% endblock %}