{% extends "includes/wrapper.html" %}
{% block content %}
	
	<div id="main-message">
		<p class="big">Informe onde seu carro foi roubado, e ajude a <strong class="highlight">evitar mais roubos</strong>.</p>
		<button id="add-occurrence" class="big transition btn">Adicionar roubo ao mapa</button>
	</div>

	<div id="occurences-map">
		<div class="description">
			Veja abaixo os lugares com maior incidência de roubo, onde é melhor <strong class="highlight">evitar estacionar</strong>:
		</div>

		<input type="text" id="search-addr-field" placeholder="Buscar por bairro, endereço, cep, etc." />
		<button class="transition btn" id="search-addr-btn">Buscar</button><br />

		<div id="main-map">
			<span>aguarde...</span>
		</div>
	</div>
{% endblock %}