{% extends "includes/wrapper.html" %}

{% block after-header %}
<div id="button-bar">
	<section class="wrapper">
		<span class="big">Informe onde seu carro foi roubado, e ajude a <strong class="highlight">evitar mais roubos</strong>.</span>
		<button id="add-occurrence" class="big transition btn"  data-tracking="Botao,AdicionarRoubo">Adicionar roubo ao mapa</button>
	</section>
</div>
{% endblock %}

{% block content %}
	<div id="occurences-map">
		<div class="map-legend">
			<h4>Legenda</h4>
			<img src="https://furtaram.s3-sa-east-1.amazonaws.com/img/stolen.png" width="15" alt="" class="first"> Carro furtado
			<!--img src="https://furtaram.s3-sa-east-1.amazonaws.com/img/finded.png" width="15" alt=""> Carro encontrado-->
		</div>

		<input type="text" id="search-field" placeholder="Buscar por bairro, rua, cep, etc.">
		<button class="transition" id="search-btn" data-tracking="Botao,Buscar">Buscar</button><br />

		<div class="description">
			Veja abaixo os lugares com maior incidência de <strong class="highlight">roubo</strong>, onde é melhor <strong class="highlight">evitar estacionar</strong>:
		</div>
		
		<div id="main-map">
			<span class="loading">carregando mapa...</span>
		</div>
	</div>

	<nav>
		<ul id="bottom-menu" class="clearfix">
			<li>
				<a href="/como-prevenir-roubos" class="transition como-prevenir">
					Como prevenir roubos
				</a>
			</li>
			<li>
				<a href="/carros-mais-roubados" class="transition estatisticas">
					Estatísticas
				</a>
			</li>
			<li class="last">
				<a href="/sobre-o-site" class="transition quem-somos">
					Quem somos
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}