{% extends "includes/wrapper.html" %}
{% block content %}
	<h2>Sobre o site</h2>
	
	<h3>Uma nova ferramenta para auxiliar vítima de furto de automóvel entra no ar!</h3>

	<p>Quem já passou pela experiência de encontrar apenas um espaço vazio, no local onde deixou seu carro estacionado, sabe quão desagradável é a sensação. No entanto o site "Furtaram Meu Carro!", que reúne informações sobre os locais com maior incidência de casos do gênero, dicas que ajudam a prevenir roubos.</p>

	<p>O "Furtaram Meu Carro!" indica lugares onde ocorreram roubos, com informações fornecidas pelos próprios usuários. Ao acessá-la é possível, por exemplo, descobrir em quais ruas é recomendável não estacionar seu carro.</p>

	<p>Para adicionar um furto ao site, basta clicar no botão "Adicionar roubo ao mapa", que imediatamente direciona o internauta a um rápido formulário.  Depois de preenchido, o local do veículo roubado passa a fazer parte do mapa que pode ser facilmente visualizado por qualquer pessoa que acessar o site.</p>

	<p>A ferramenta funcionará em todo o Brasil, também auxiliando motoristas viajantes e gerando estatísticas sempre atualizadas sobre o furto de veículos no país.</p>

	<p>Para mais informações, envie um e-mail para <a href="mailto:contato@furtarammeucarro.com.br">contato@furtarammeucarro.com.br</a>.</p>
{% endblock %}